.input_text {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #CECECE;
}

.button {
  background-color: #EEEEEE;
  padding: 10px 20px;
  border: 1px solid #CECECE;
  border-radius: 5px;
  display: block;
}